/* styles.css */

/* Style de base */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
}

#difficulty-selector {
  background-color: aqua;
}

#difficulty-selector label,
#difficulty-selector select {
}

#game-container {
}

.card {
}

.card.flipped {
}

#game-info {
}

#restart-button {
}

/* Styles supplémentaires pour le message de victoire */
#victory-message {
}
